<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>

    {% load staticfiles %}

    {% block head %}
    {% endblock %}

    {% include 'snippets/css.html' %}
    {% include 'snippets/js.html' %}

</head>
 <body id="page-top">
<div class="container">
    {% block content %}{% endblock %}
</div>
<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IE</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'web_page:home_page' %}"><span class="glyphicon glyphicon-home"></span> Home </a></li>
                </li>
                {% block add-nav %}
                {% endblock %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'web_page:user_profile' %}"><span class="glyphicon glyphicon-user"></span>
                        {{ user.get_username }}</a>
                </li>
                <li>
                    <a href="{% url 'web_page:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                </li>
                {% else %}
                <li><a href="{% url 'web_page:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
                {% block add %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% block script %}{% endblock %}
</body>
</html>