{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}Principal{% endblock %}
{% block add-nav %}

{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>
    {% if user.is_authenticated %}
    <hr>
    <a href="{% url 'web_page:change_password' %}">Change password</a>
    <hr>
    <a href="{% url 'web_page:list_applicants' %}">Lista aplicanti</a>
    {% endif %}
    <hr>
    <a href="{% url 'web_page:application_enrollment' %}">Cerere inscriere</a>
    <hr>
    <a href="{% url 'web_page:developers_details' %}">Prezentare developeri</a>

    <hr>
    <a href="{% url 'web_page:faq_categories' %}">FAQ</a>
    <hr>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}